<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @authentication.uid %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @authentication.nickname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @authentication.name %>
</p>

<%= link_to 'Edit', edit_authentication_path(@authentication) %> |
<%= link_to 'Back', authentications_path %>
